<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ict.bodychecker">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BodyChecker">
        <activity android:name=".SplashActivity" android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GoalActivity" android:label="목표 리스트"></activity>
        <activity android:name=".ExerciseActivity" android:label="운동"></activity>
        <activity android:name=".ProfileActivity" android:label="프로필" />
        <activity android:name=".MealActivity" android:label="식단" />
        <activity android:name=".MealSelectActivity" android:label="식단 음식선택" />
        <activity android:name=".NoticeActivity" android:label="공지사항" />
        <activity android:name=".NoticeDetailActivity" android:label="공지사항 상세" />
        <activity android:name=".FAQActivity" android:label="FAQ" />
        <activity android:name=".ModifyInfoActivity" android:label="내정보 수정" />
        <activity android:name=".JoinActivity" android:label="회원가입" />
    </application>

</manifest>